{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "ssr": true
            }
        ]
    ],
    "presets": ["next/babel", "@zeit/next-typescript/babel"]
}
